:root {
	--panel-bgc: #212121;
	--btn-color: #ffffff;
	--btn-hover-color: #030303;
}

.raypanel {
	position: absolute;
	display: flex;
	align-items: center;
	font-family: monospace;
	justify-content: center;
	background-color: var(--panel-bgc);
	border-radius: 10px;
	gap: 1px 3px;
	padding: 4px 7px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(128, 128, 128, 0.107);
}

.raypanel::before {
	content: "";
	width: 6px;
	height: 6px;
	background-color: var(--panel-bgc);
	position: absolute;
	left: 7px;
	bottom: -2px;
	transform: rotate(45deg);
}

.panelbtn {
	font-size: 17px;
	font-family: monospace;
	color: var(--btn-color);
	line-height: 1;
	cursor: pointer;
	border-radius: 6px;
	border: none;
	background-color: transparent !important;
	padding: 5px 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	z-index: 2;
}

.panelbtn:hover {
	background-color: var(--btn-hover-color);
}

.panelbtn:active {
	background-color: #3a3d41;
}
